<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <parsers>
      <parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services"/>
      <parser type="Spring.ServiceModel.Config.WcfNamespaceParser, Spring.Services"/>
    </parsers>
    <context>
      
      <!--
      <resource uri="config://spring/objects"/>
      -->
      <!-- Only one at a time ! -->
      <!-- ================================== -->
      <!-- In process (local) implementations -->
      <!-- ================================== -->
<!--  
      <resource uri="~/Config/InProcess/Dao-Local.xml"/>
      <resource uri="~/Config/InProcess/Dao.xml"/>
      <resource uri="~/Config/InProcess/Dao-Access.xml"/>
      <resource uri="~/Config/InProcess/Dao-Online.xml"/>
      <resource uri="~/Config/InProcess/Dao-SQLite.xml"/>
 -->
      <!--<resource uri="~/Config/InProcess/Dao-SQLite.xml"/>-->
      <resource uri="~/Config/InProcess/Dao.xml"/>
      <resource uri="~/Config/InProcess/DaoObjects.xml"/>
      
      <!-- Local-->
      <resource uri="~/Config/InProcess/Services.xml"/>      
      
      <!--WCF
      <resource uri="~/Config/ServerApp.xml"/>
      -->
      <!-- ======================== -->
      <!-- Remoting implementations -->
      <!-- ======================== -->
      <!-- Make sure 'RemoteApp' console application is running and listening. 
      <resource uri="~/Config/Remoting/cao.xml"/>      
      -->
      <!-- Windows Forms Config-->
      <resource uri="~/Config/WinForms.xml"/>
      <!--
      <resource uri="assembly://Spring.Northwind.ClientApp/Spring.Northwind.ClientApp.Config.WebServices/webServices.xml" />
      -->
      
    </context>
  </spring>
  
    
  <appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0"/>
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <system.web>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate32"/>
    </httpModules>
    <membership defaultProvider="TBH_MembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="TBH_MembershipProvider" type="Vns.Erp.Security.VnsMembershipProvider, Vns.Erp.Security" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>

    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="TBH_RoleProvider">
      <providers>
        <add connectionStringName="LocalSqlServer" applicationName="/" name="TBH_RoleProvider"  type="Vns.Erp.Security.VnsRoleProvider, Vns.Erp.Security"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>      
      <supportedRuntime version="v2.0.50727"/>           
  </startup>

</configuration>
